<div class="form-group my-3">

  <label for={{name}}>{{label}} :</label>
  <input type="{{`${type?type:'text'}`}}" id={{name}} name={{name}} class="form-control
   @if(flashMessages.has('errors.'+name))
    border-danger
   @endif
   "
  @if(auth.isLoggedIn)
    value="{{auth.user[`${name}`]}}"
  @endif
  />

  @!error({name})
</div>
