<!doctype html>
<html lang="en">

<head>
<title>Calendário Cultural</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css'>


    @entryPointScripts('app')
    @entryPointStyles('app')

    <style>
    /*
    * Always set the map height explicitly to define the size of the div element
    * that contains the map.
    */
    #map {
      height: 100%;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    </style>

</head>


<body>

<!-- Navbar Transparent -->
<!-- Navbar Transparent -->
<div class="container position-sticky z-index-sticky top-0"><div class="row"><div class="col-12">
<nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
  <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3" href="#" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_self">
      <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; Calendário Cultural
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">

        <li class="nav-item ms-lg-auto">
          <a class="nav-link nav-link-icon me-2" href="#" target="_self">
            <i class="fa fa-home" aria-hidden="true"></i>
            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" >Home</p>
          </a>
        </li>


        @if(!auth.user)
        <li class="nav-item ms-lg-auto">
          <a class="nav-link nav-link-icon me-2" href="{{route('auth.create')}}" target="_self">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" >Login</p>
          </a>
        </li>

        <li class="nav-item ms-lg-auto">
          <a class="nav-link nav-link-icon me-2" href="{{route('usuario.create')}}" target="_self">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" >Cadastro</p>
          </a>
        </li>
        @else
        <li class="nav-item ms-lg-auto">
          <a class="nav-link nav-link-icon me-2" href="{{route('auth.logout')}}" target="_self">
            <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" >Sair</p>
          </a>
        </li>

        @endif

        <li class="nav-item ms-lg-auto">
          <a class="nav-link nav-link-icon me-2" href="{{route('usuario.perfil')}}" target="_self">
            <i class="fas fa-id-card"></i>
            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" >Meu Perfil</p>
          </a>
        </li>

        <li class="nav-item ms-lg-auto">
          <a class="nav-link nav-link-icon me-2" href="{{route('eventos.index')}}" target="_self">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" >Eventos</p>
          </a>
        </li>

        <li class="nav-item ms-lg-auto">
          <a class="nav-link nav-link-icon me-2" href="{{route('mapa.index')}}" target="_self">
            <i class="fa fa-map" aria-hidden="true"></i>
            <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" >Mapa</p>
          </a>
        </li>

    </ul>
  </div>
</div>
</nav>

</div></div></div>
<!-- End Navbar -->



    @!section('conteudo')


</body>

</html>
