@layout('layouts/index')
@section('conteudo')
<div>
    <h2>Login</h2>
    <form action="{{route('usuario.store')}}" method="post">
        <input type="text" name="email"/>
        <button type="submit">Login</button>
    </form>
</div>
@endsection
