
:root {
    --bs-blue: #63B3ED;
    --bs-indigo: #596CFF;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #F56565;
    --bs-orange: #fd7e14;
    --bs-yellow: #FBD38D;
    --bs-green: #81E6D9;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
}

.fixed-img-size-card {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.bg-calendario {
    background-color: #311e41;
}

button.btn-save {
  color: white;
}

button.btn-save:hover {
  color: black;
}

.text-calendario {
    color: #311e41;
}
